[data-cellid="grid_c1"][data-page="dashboard_dashboard"][data-cellid="grid_c1"][data-page="dashboard_dashboard"][data-cellid="grid_c1"][data-page="dashboard_dashboard"] {
  width: 50%;
}
[data-cellid="grid_c2"][data-page="dashboard_dashboard"][data-cellid="grid_c2"][data-page="dashboard_dashboard"][data-cellid="grid_c2"][data-page="dashboard_dashboard"] {
  width: 25%;
}
[data-cellid="grid_c3"][data-page="dashboard_dashboard"][data-cellid="grid_c3"][data-page="dashboard_dashboard"][data-cellid="grid_c3"][data-page="dashboard_dashboard"] {
  width: 25%;
}
[data-cellid="grid_c4"][data-page="dashboard_dashboard"][data-cellid="grid_c4"][data-page="dashboard_dashboard"][data-cellid="grid_c4"][data-page="dashboard_dashboard"] {
  width: 100%;
}
[data-cellid="grid_c6"][data-page="dashboard_dashboard"][data-cellid="grid_c6"][data-page="dashboard_dashboard"][data-cellid="grid_c6"][data-page="dashboard_dashboard"] {
  width: 50%;
}
[data-cellid="grid_c7"][data-page="dashboard_dashboard"][data-cellid="grid_c7"][data-page="dashboard_dashboard"][data-cellid="grid_c7"][data-page="dashboard_dashboard"] {
  width: 25%;
}
[data-cellid="grid_c9"][data-page="dashboard_dashboard"][data-cellid="grid_c9"][data-page="dashboard_dashboard"][data-cellid="grid_c9"][data-page="dashboard_dashboard"] {
  width: 25%;
}
[data-cellid="grid_c10"][data-page="dashboard_dashboard"][data-cellid="grid_c10"][data-page="dashboard_dashboard"][data-cellid="grid_c10"][data-page="dashboard_dashboard"] {
  width: 25%;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] {
  height: 500px;
  font-size: 16px;
  font-family: "Roboto";
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > .panel > .panel-heading,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > * > .tab-content > .tab-pane > .panel > .panel-heading {
  color: #C8C8C8;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > .panel > .panel-heading,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > * > .tab-content > .tab-pane > .panel > .panel-heading {
  background-color: #222740;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > .panel > .panel-footer,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > * > .tab-content > .tab-pane > .panel > .panel-footer {
  background-color: #222740;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > .panel > .panel-body,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > * > .tab-content > .tab-pane > .panel > .panel-body {
  background-color: #222740;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > .panel,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] {
  height: 500px;
  font-size: 16px;
  font-family: "Roboto";
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > .panel > .panel-heading,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > * > .tab-content > .tab-pane > .panel > .panel-heading {
  color: #C8C8C8;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > .panel > .panel-heading,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > * > .tab-content > .tab-pane > .panel > .panel-heading {
  background-color: #222740;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > .panel > .panel-footer,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > * > .tab-content > .tab-pane > .panel > .panel-footer {
  background-color: #222740;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > .panel > .panel-body,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > * > .tab-content > .tab-pane > .panel > .panel-body {
  background-color: #222740;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > .panel,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item3"] > .r-box-left .r-box-text > .r-box-header {
  color: #c8bebe;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item3"] > .r-box-left .r-box-icon > .r-panel-icon {
  color: #ffffff;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item3"] > .r-box-left .r-box-icon > .r-panel-icon {
  background-color: #FB8506;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item3"] > .r-box-left {
  background-color: #202940;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item3"] > .r-box-left {
  border: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item4"] > .r-box-left .r-box-text > .r-box-header {
  color: #c8bebe;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item4"] > .r-box-left .r-box-icon > .r-panel-icon {
  color: #ffffff;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item4"] > .r-box-left .r-box-icon > .r-panel-icon {
  background-color: #359563;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item4"] > .r-box-left {
  background-color: #202940;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item4"] > .r-box-left {
  border: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item5"] > .r-box-left .r-box-text > .r-box-header {
  color: #c8bebe;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item5"] > .r-box-left .r-box-icon > .r-panel-icon {
  color: #ffffff;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item5"] > .r-box-left .r-box-icon > .r-panel-icon {
  background-color: #D52D29;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item5"] > .r-box-left {
  background-color: #202940;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item5"] > .r-box-left {
  border: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item6"] > .r-box-left .r-box-text > .r-box-header {
  color: #c8bebe;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item6"] > .r-box-left .r-box-icon > .r-panel-icon {
  color: #ffffff;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item6"] > .r-box-left .r-box-icon > .r-panel-icon {
  background-color: #13A7BA;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item6"] > .r-box-left {
  background-color: #202940;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item7"] {
  height: 500px;
  font-size: 16px;
  font-family: "Roboto";
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item7"] > .panel > .panel-heading,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item7"] > * > .tab-content > .tab-pane > .panel > .panel-heading {
  background-color: #862FA0;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item7"] > .panel > .panel-body,
[data-page="dashboard_dashboard"][data-itemid="dashboard-item7"] > * > .tab-content > .tab-pane > .panel > .panel-body {
  background-color: #202940;
  background-image: none;
}
[data-page="dashboard_dashboard"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


