<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel baseprocedure view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN pqrsfId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pqrsfId}  r-vertical-field" data-fieldname="pqrsfId" data-signal-error-for="pqrsfId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="pqrsfId" data-fieldname="pqrsfId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_pqrsfId}">
		
		{BEGIN pqrsfId_label}{$label baseprocedure pqrsfId }{END pqrsfId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$pqrsfId_value}	</div>

		
</div>


{END pqrsfId_fieldblock}
											
{BEGIN nuv_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_nuv}  r-vertical-field" data-fieldname="nuv" data-signal-error-for="nuv{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="nuv" data-fieldname="nuv" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_nuv}">
		
		{BEGIN nuv_label}{$label baseprocedure nuv }{END nuv_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$nuv_value}	</div>

		
</div>


{END nuv_fieldblock}
											
{BEGIN entryDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryDate}  r-vertical-field" data-fieldname="entryDate" data-signal-error-for="entryDate{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="entryDate" data-fieldname="entryDate" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_entryDate}">
		
		{BEGIN entryDate_label}{$label baseprocedure entryDate }{END entryDate_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$entryDate_value}	</div>

		
</div>


{END entryDate_fieldblock}
											
{BEGIN expirationDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_expirationDate}  r-vertical-field" data-fieldname="expirationDate" data-signal-error-for="expirationDate{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="expirationDate" data-fieldname="expirationDate" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_expirationDate}">
		
		{BEGIN expirationDate_label}{$label baseprocedure expirationDate }{END expirationDate_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$expirationDate_value}	</div>

		
</div>


{END expirationDate_fieldblock}
											
{BEGIN type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_type}  r-vertical-field" data-fieldname="type" data-signal-error-for="type{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="type" data-fieldname="type" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_type}">
		
		{BEGIN type_label}{$label baseprocedure type }{END type_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$type_value}	</div>

		
</div>


{END type_fieldblock}
											
{BEGIN subject_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_subject}  r-vertical-field" data-fieldname="subject" data-signal-error-for="subject{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="subject" data-fieldname="subject" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_subject}">
		
		{BEGIN subject_label}{$label baseprocedure subject }{END subject_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$subject_value}	</div>

		
</div>


{END subject_fieldblock}
											
{BEGIN name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-vertical-field" data-fieldname="name" data-signal-error-for="name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="name" data-fieldname="name" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_name}">
		
		{BEGIN name_label}{$label baseprocedure name }{END name_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$name_value}	</div>

		
</div>


{END name_fieldblock}
											
{BEGIN isDisabled_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_isDisabled}  r-vertical-field" data-fieldname="isDisabled" data-signal-error-for="isDisabled{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="isDisabled" data-fieldname="isDisabled" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_isDisabled}">
		
		{BEGIN isDisabled_label}{$label baseprocedure isDisabled }{END isDisabled_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$isDisabled_value}	</div>

		
</div>


{END isDisabled_fieldblock}
											
{BEGIN replyDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_replyDate}  r-vertical-field" data-fieldname="replyDate" data-signal-error-for="replyDate{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="replyDate" data-fieldname="replyDate" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_replyDate}">
		
		{BEGIN replyDate_label}{$label baseprocedure replyDate }{END replyDate_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$replyDate_value}	</div>

		
</div>


{END replyDate_fieldblock}
											
{BEGIN requestingIds_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_requestingIds}  r-vertical-field" data-fieldname="requestingIds" data-signal-error-for="requestingIds{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="requestingIds" data-fieldname="requestingIds" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_requestingIds}">
		
		{BEGIN requestingIds_label}{$label baseprocedure requestingIds }{END requestingIds_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$requestingIds_value}	</div>

		
</div>


{END requestingIds_fieldblock}
											
{BEGIN documentId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_documentId}  r-vertical-field" data-fieldname="documentId" data-signal-error-for="documentId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="documentId" data-fieldname="documentId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_documentId}">
		
		{BEGIN documentId_label}{$label baseprocedure documentId }{END documentId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$documentId_value}	</div>

		
</div>


{END documentId_fieldblock}
											
{BEGIN respondeDocumentId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_respondeDocumentId}  r-vertical-field" data-fieldname="respondeDocumentId" data-signal-error-for="respondeDocumentId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="respondeDocumentId" data-fieldname="respondeDocumentId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_respondeDocumentId}">
		
		{BEGIN respondeDocumentId_label}{$label baseprocedure respondeDocumentId }{END respondeDocumentId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$respondeDocumentId_value}	</div>

		
</div>


{END respondeDocumentId_fieldblock}
											
{BEGIN trackingIds_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_trackingIds}  r-vertical-field" data-fieldname="trackingIds" data-signal-error-for="trackingIds{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="trackingIds" data-fieldname="trackingIds" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_trackingIds}">
		
		{BEGIN trackingIds_label}{$label baseprocedure trackingIds }{END trackingIds_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$trackingIds_value}	</div>

		
</div>


{END trackingIds_fieldblock}
											
{BEGIN responseId_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_responseId}  r-vertical-field" data-fieldname="responseId" data-signal-error-for="responseId{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="responseId" data-fieldname="responseId" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_responseId}">
		
		{BEGIN responseId_label}{$label baseprocedure responseId }{END responseId_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$responseId_value}	</div>

		
</div>


{END responseId_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="baseprocedure_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
