<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Pchart search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN pqrsfId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_pqrsfId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="pqrsfId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="pqrsfId" data-fieldname="pqrsfId" >


	<label class="r-search-label control-label" for="{$labelfor_pqrsfId}">
		{$label Pchart pqrsfId }	</label>
	<div class="r-search-option">
		{$searchtype_pqrsfId}
	</div>
	<div class="r-search-field">
		{$pqrsfId_editcontrol}	</div>
	<div class="r-search-field">
		{$pqrsfId_editcontrol1}
	</div>
	
</div>

{END pqrsfId_fieldblock}
											
{BEGIN nuv_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nuv}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nuv{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="nuv" data-fieldname="nuv" >


	<label class="r-search-label control-label" for="{$labelfor_nuv}">
		{$label Pchart nuv }	</label>
	<div class="r-search-option">
		{$searchtype_nuv}
	</div>
	<div class="r-search-field">
		{$nuv_editcontrol}	</div>
	<div class="r-search-field">
		{$nuv_editcontrol1}
	</div>
	
</div>

{END nuv_fieldblock}
											
{BEGIN entryDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entryDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entryDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="entryDate" data-fieldname="entryDate" >


	<label class="r-search-label control-label" for="{$labelfor_entryDate}">
		{$label Pchart entryDate }	</label>
	<div class="r-search-option">
		{$searchtype_entryDate}
	</div>
	<div class="r-search-field">
		{$entryDate_editcontrol}	</div>
	<div class="r-search-field">
		{$entryDate_editcontrol1}
	</div>
	
</div>

{END entryDate_fieldblock}
											
{BEGIN expirationDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_expirationDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="expirationDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="expirationDate" data-fieldname="expirationDate" >


	<label class="r-search-label control-label" for="{$labelfor_expirationDate}">
		{$label Pchart expirationDate }	</label>
	<div class="r-search-option">
		{$searchtype_expirationDate}
	</div>
	<div class="r-search-field">
		{$expirationDate_editcontrol}	</div>
	<div class="r-search-field">
		{$expirationDate_editcontrol1}
	</div>
	
</div>

{END expirationDate_fieldblock}
											
{BEGIN type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="type" data-fieldname="type" >


	<label class="r-search-label control-label" for="{$labelfor_type}">
		{$label Pchart type }	</label>
	<div class="r-search-option">
		{$searchtype_type}
	</div>
	<div class="r-search-field">
		{$type_editcontrol}	</div>
	<div class="r-search-field">
		{$type_editcontrol1}
	</div>
	
</div>

{END type_fieldblock}
											
{BEGIN subject_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_subject}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="subject{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="subject" data-fieldname="subject" >


	<label class="r-search-label control-label" for="{$labelfor_subject}">
		{$label Pchart subject }	</label>
	<div class="r-search-option">
		{$searchtype_subject}
	</div>
	<div class="r-search-field">
		{$subject_editcontrol}	</div>
	<div class="r-search-field">
		{$subject_editcontrol1}
	</div>
	
</div>

{END subject_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label Pchart name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN isDisabled_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_isDisabled}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="isDisabled{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="isDisabled" data-fieldname="isDisabled" >


	<label class="r-search-label control-label" for="{$labelfor_isDisabled}">
		{$label Pchart isDisabled }	</label>
	<div class="r-search-option">
		{$searchtype_isDisabled}
	</div>
	<div class="r-search-field">
		{$isDisabled_editcontrol}	</div>
	<div class="r-search-field">
		{$isDisabled_editcontrol1}
	</div>
	
</div>

{END isDisabled_fieldblock}
											
{BEGIN replyDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_replyDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="replyDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="replyDate" data-fieldname="replyDate" >


	<label class="r-search-label control-label" for="{$labelfor_replyDate}">
		{$label Pchart replyDate }	</label>
	<div class="r-search-option">
		{$searchtype_replyDate}
	</div>
	<div class="r-search-field">
		{$replyDate_editcontrol}	</div>
	<div class="r-search-field">
		{$replyDate_editcontrol1}
	</div>
	
</div>

{END replyDate_fieldblock}
											
{BEGIN requestingIds_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_requestingIds}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="requestingIds{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="requestingIds" data-fieldname="requestingIds" >


	<label class="r-search-label control-label" for="{$labelfor_requestingIds}">
		{$label Pchart requestingIds }	</label>
	<div class="r-search-option">
		{$searchtype_requestingIds}
	</div>
	<div class="r-search-field">
		{$requestingIds_editcontrol}	</div>
	<div class="r-search-field">
		{$requestingIds_editcontrol1}
	</div>
	
</div>

{END requestingIds_fieldblock}
											
{BEGIN documentId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_documentId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="documentId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="documentId" data-fieldname="documentId" >


	<label class="r-search-label control-label" for="{$labelfor_documentId}">
		{$label Pchart documentId }	</label>
	<div class="r-search-option">
		{$searchtype_documentId}
	</div>
	<div class="r-search-field">
		{$documentId_editcontrol}	</div>
	<div class="r-search-field">
		{$documentId_editcontrol1}
	</div>
	
</div>

{END documentId_fieldblock}
											
{BEGIN respondeDocumentId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_respondeDocumentId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="respondeDocumentId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="respondeDocumentId" data-fieldname="respondeDocumentId" >


	<label class="r-search-label control-label" for="{$labelfor_respondeDocumentId}">
		{$label Pchart respondeDocumentId }	</label>
	<div class="r-search-option">
		{$searchtype_respondeDocumentId}
	</div>
	<div class="r-search-field">
		{$respondeDocumentId_editcontrol}	</div>
	<div class="r-search-field">
		{$respondeDocumentId_editcontrol1}
	</div>
	
</div>

{END respondeDocumentId_fieldblock}
											
{BEGIN trackingIds_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_trackingIds}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="trackingIds{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="trackingIds" data-fieldname="trackingIds" >


	<label class="r-search-label control-label" for="{$labelfor_trackingIds}">
		{$label Pchart trackingIds }	</label>
	<div class="r-search-option">
		{$searchtype_trackingIds}
	</div>
	<div class="r-search-field">
		{$trackingIds_editcontrol}	</div>
	<div class="r-search-field">
		{$trackingIds_editcontrol1}
	</div>
	
</div>

{END trackingIds_fieldblock}
											
{BEGIN responseId_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_responseId}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="responseId{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="responseId" data-fieldname="responseId" >


	<label class="r-search-label control-label" for="{$labelfor_responseId}">
		{$label Pchart responseId }	</label>
	<div class="r-search-option">
		{$searchtype_responseId}
	</div>
	<div class="r-search-field">
		{$responseId_editcontrol}	</div>
	<div class="r-search-field">
		{$responseId_editcontrol1}
	</div>
	
</div>

{END responseId_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
